<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs')%>

        <div class="container mt-4">

            <h1>welcome to about page this isa one of the greate person in the blockchain development </h1>
            <a href="/download">download file</a>
        </div>
</body>

</html>